body {
    margin: 0;
}

.main-header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.top-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    height: 68px;
    background: #141414;
    border-radius: 0px;
}

.header-left {
    display: flex;
    margin-left: 394px;
}

.architecture {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    margin: 27px 4px;
    margin-left: 34px;
}

.made-with {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    margin: 27px 5px;
}

.heart-img {
    height: 17px;
    border-radius: 0px;
    margin: 27px 4px;
}

.navigation-item {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 34px;
    letter-spacing: 2.7625px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration-line: none;
}

.header-right {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 559px;
    height: 33px;
    margin-right: 70px;
}

.bottom-header {
    display: flex;
    height: 727px;
    background: #141414;
    border-radius: 0px;
}

.background-image {
    width: 978px;
    height: 591px;
    margin-top: 68px;
    margin-left: 68px;
}

.logo {
    position: absolute;
    height: 136px;
    width: 326px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: #99823D;
    border-radius: 0px;
    margin-left: 68px;
}

.brown-square {
    height: 398px;
    width: 489px;
    background: #99823D;
    position: absolute;
    margin-top: 329px;
    margin-left: 883px;
}

.your-vision {
    height: 455px;
    width: 584px;
    background: #FFFFFF;
    position: absolute;
    margin-top: 136px;
    margin-left: 720px;
}

.vantage-studio {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 2.7625px;
    text-transform: uppercase;
    color: #99823D;
    height: 17px;
    width: 142px;
    margin-left: 68px;
    margin-top: 67px;
}

.top-text-vantage-studio {
    height: 135px;
    width: 417px;
    font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    font-size: 67px;
    line-height: 67px;
    text-transform: capitalize;
    color: #141414;
    margin-left: 68px;
    margin-top: 2px;
}

.bottom-text-vantage-studio {
    height: 51px;
    width: 435px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #141414;
    margin-top: 32px;
    margin-left: 68px;
}

.buttons {
    margin-left: 68px;
    margin-top: 15px;
}

.explore {
    height: 68px;
    width: 216px;
    background: #99823D;
    border-radius: 0px;
    border: none;
    cursor: pointer;
}
.explore:hover {
    background: #6f5505;
}

.lets-chat {
    height: 68px;
    width: 216px;
    background: #141414;
    border-radius: 0px;
    margin-left: 17px;
    border: none;
    cursor: pointer;
}

.lets-chat:hover {
    background: #565050
}
.explore-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2.975px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.lets-chat-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;   
    text-align: center;
    letter-spacing: 2.975px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.media {
    height: 73px;
    position: absolute;
    width: 815px;
    background: #EBEBEB;
    margin-top: 655px;
    margin-right: 557px;
    margin-left: 68px;
}

.navigation-item-media {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 68px;
    letter-spacing: 2.975px;
    text-transform: uppercase;
    color: #000000;
    text-decoration-line: none;
    padding-right: 20px;
    padding-left: 17px;
}

.section-first {
    display: flex;
    justify-content: center;
    width: 1440px;
    background: #EBEBEB;
    padding-top: 135px;
    padding-bottom: 65px;
}

.about-us {
    height: 321px;
    width: 820px;   
}

.about-us-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 2.7625px;
    text-transform: uppercase;
    color: #99823D;
}

.content-text-title {
    height: 106px;
    width: 655px;
    font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    font-size: 53px;
    line-height: 53px;
    text-transform: capitalize;
    color: #141414;
}

.context-text {
    margin-top: 28px;
}

.context-text-style-one {
    height: 51px;
    width: 683px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #141414;
    margin: 0;
}

.context-text-style-two {
    height: 102px;
    width: 684px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #141414;
    margin: 0;
    padding-top: 15px;
}

.content-block-right {
    height: 321px;
    width: 424px;
    padding-top: 35px;
}

.about-us-text-second {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 2.7625px;
    text-transform: uppercase;
    color: #99823D;
    padding-left: 34px;
    padding-bottom: 10px;
}

.title-right-one {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px; 
    text-transform: capitalize; 
    color: #141414;
    padding-left: 35px;
    height: 53px;
    width: 323px;
    padding-bottom: 75px;
}

.section-second {
    display: flex;
    width: 1440px;
    background: #EBEBEB;
    padding-bottom: 135px;
}

.projects {
    padding-left: 80px;
}

.quantity {
    width: 120px;
    height: 59px;
    font-family: 'Teko';
    font-style: normal;
    font-weight: 700;
    font-size: 59px;
    line-height: 59px;
    text-align: center;
    color: #141414;
}

.onestyle {
    width: 78px;
    height: 18px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2.975px;
    text-transform: uppercase;
    color: #99823D;
    padding-left: 20px;
}

.brownsquare {
    height: 9px;
    width: 9px;
    background: #99823D;
    margin-top: 50px;
    margin-left: 80px;
}

.section-third {
    width: 1440px;
    background: #EBEBEB;
    height: 140px;
}

.part-one {
    display: flex;
    padding-bottom: 60px;
}

.living-room {
    height: 342.296875px;
    width: 411.984375px;
    padding-left: 65px;
    padding-right: 35px;
}

.view-house {
    height: 342.296875px;
    width: 411.984375px;
    padding-right: 35px;
}

.dining-room {
    height: 342.296875px;
    width: 411.984375px;
    padding-right: 65px;
}

.part-two {
    width: 11px;
    height: 11px;
    background: #222222;
    margin: auto;
}

.block-services{
    margin-top: 330px;
}

.services {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 2.7625px;
    text-transform: uppercase;
    color: #99823D;
    margin: auto;
    height: 17px;
    width: 74px;
    padding-bottom: 5px;
}

.title-arhitecture {
    height: 106px;
    width: 801px;
    font-family: 'Teko';
    font-style: normal;
    font-weight: 700;
    font-size: 53px;
    line-height: 53px;
    text-align: center;
    text-transform: capitalize;
    color: #141414;
    margin: auto;
}

.list-about-arhitecture {
    height: 459px;
    width: 1312px;
    margin: auto;
    padding-top: 55px;
    padding-bottom: 90px;
}

.size-list-about-arhitecture {
    height: 459px;
    width: 1176px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.content-list-about-arhitectire {
    height: 228px;
    width: 391.328125px;
}

.top-block-list {
    height: 68px;
    width: 214px;
    display: flex;
}

.pensil-photo {
    height: 68px;
    width: 68px;
    padding-right: 20px;
}

.date-and-title-list-arhitecture {
    height: 58.90625px;
    width: 129px;
}

.date {
    height: 17px;
    width: 43px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 2.7625px;
    text-transform: uppercase;
    color: #99823D;
    padding-bottom: 10px;
}

.title-list-arhitecture {
    height: 27px;
    width: 129px;
    font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    text-transform: capitalize;
    color: #141414;
}

.description-list-arhitecture {
    height: 77px;
    width: 292px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #141414;
    padding-top: 20px;
}

.button-bottom {
    height: 68px;
    width: 1312px;
    margin: auto;
    padding-bottom: 105px;
}

.size-button-services {
    height: 68px;
    width: 392px;
    margin: auto;
}

.see-all-services {
    height: 68px;
    width: 392px;
    background: #99823D;
    border-radius: 0px;
    border: none;
    cursor: pointer;
}

.see-all-services:hover {
    background: #6f5505;
}

.text-on-the-button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2.975px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.section-fifth {
    width: 1440px;
    height: 377px;
    background: #EBEBEB;
}

.partner-block {
    height: 174.25px;
    width: 1440px;
    display: flex;
    padding-top: 70px;
}

.brownsquare-partner {
    height: 9px;
    width: 9px;
    background: #99823D;
    margin-left: 52px;
    margin-right: 52px;
    margin-top: 15px;
}

.partner-one {
    height: 38px;
    width: 154px;
    padding-left: 136px;
}

.top-footer-content {
    height: 133px;
    width: 1304px;
    background: #3D3D3D;
    margin-left: 68px;
}

.top-size {
    display: flex;
    justify-content: space-between;
    padding-top: 65px;
}

.image-footer {
    height: 34px;
    width: 131px;
    padding-left: 65px;
}

.navigation-footer-menu {
    height: 33px;
    width: 559px;
}

.footer-navigation-item {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 34px;
    letter-spacing: 2.7625px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration-line: none;
    padding-left: 20px;
}

.section-last {
    height: 239px;
    width: 1440px;   
}

.footer-content {
    height: 239px;
    width: 1440px;
    background: #141414;
}

.size-last-navigation {
    height: 169px;
    width: 1304px;
    margin: auto;
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.navigation-section-last {
    height: 33px;
    width: 316.578125px;
    padding-top: 120px;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: nowrap;
    gap: 35px;
    padding-left: 68px;
}

.navigation-section-last-item {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 34px;
    letter-spacing: 2.7625px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration-line: none;
}

.powerd-by {
    display: flex;
    padding-right: 68px;
}

.powerd-by-content {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 2.7625px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.75);
    padding-top: 120px;
    padding-right: 10px;
}

.webflow {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 2.7625px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 120px;
}

.email-form {
    height: 204px;
    width: 1168px;
    margin: auto;
    background: #99823D;
    position: relative;
    bottom: 271px;
}

.email-content {
    height: 68px;
    width: 1032px;
    margin: auto;   
    display: flex; 
    padding-top: 68px;
}

.email-input {
    height: 66px;
    width: 860px;
    background: #FFFFFF;
    margin-right: 17px;
    border: none;
}

.email-input::placeholder {
    height: 34px;
    width: 296px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 2.7625px;
    text-transform: uppercase;
    color: #3D3D3D;
    padding-top: 17px;
}

input::-webkit-input-placeholder {
    color: #999;
}
input:focus::-webkit-input-placeholder {
    color: transparent;
}
/* Firefox < 19 */
input:-moz-placeholder {
    color: #999;
}
input:focus:-moz-placeholder {
    color: transparent;
}
/* Firefox > 19 */
input::-moz-placeholder {
    color: #999;
}
input:focus::-moz-placeholder {
    color: transparent;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #999;
}
input:focus:-ms-input-placeholder {
    color: transparent;
}

.subscribe {
    height: 68px;
    width: 155px;
    background: #141414;
    border-radius: 0px;
    cursor: pointer;
    border: none;
}

.subscribe:hover {
    background: #565050;
}

.button-placeholder {
    height: 34px;
    width: 82px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 2.7625px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: auto;
}